@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    font-family: 'Space Mono', monospace;
    display: grid;
    min-height: 100vh;
    place-content: center;
    background: hsl(185, 41%, 84%);
}

header {
    display: flex;
    justify-content: center;
    margin: 50px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 35px;
}

.first {
    margin: 0 10px;
}

.fill-in {
    position: relative;
    margin: 20px 0;
}

h1,
h2 {
    margin-bottom: 5px;
    color: hsl(186, 14%, 43%);
}

.fill-in i {
    position: absolute;
    padding: 10px;
}

.fill-in input {
    text-align: end;
    padding: 0 10px;
    background: hsl(189, 41%, 97%);
    border: none;
    color: hsla(183, 100%, 15%, 0.9);
    border-radius: 5px;
    font-size: 24px;
}

.tip button,
.tip input {
    width: 28%;
    margin: 10px 0;
    padding: 7px;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
    border: none;
}

.tip button {
    background: hsl(183, 100%, 15%);
    color: hsl(189, 41%, 97%);
}

.tip input {
    background: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
}

.tip input::placeholder {
    color: hsla(183, 100%, 15%, 0.7);
}

.second {
    background: hsl(183, 100%, 15%);
    padding: 20px;
    border-radius: 15px;
    width: 95%;
}

.full-content {
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.half-width1 h3 {
    color: hsl(189, 41%, 97%);
}

.half-width1 p {
    color: hsl(184, 14%, 56%);
}

.half-width2 {
    font-size: 30px;
    margin-left: 15px;
    color: hsl(172, 67%, 45%);
}

.btn button {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 0;
    background: #0d686d;
    border: none;
    color: hsl(183, 100%, 15%);
    text-transform: uppercase;
}

.fill-in input:hover,.fill-in input:active,.fill-in input:focus{
    border: solid 1px hsl(172, 67%, 45%);
    cursor: pointer;
}

.tip button:hover,.tip button:focus,.btn button:hover,.btn button:focus{
    cursor: pointer;
    background: hsla(172, 67%, 45%,0.9);
}

.attribution {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 800px) {
    main {
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        padding: 0px 15px;
    }

    .first {
        width: 50%;
    }

    .second {
        width: 50%;
    }

    .btn button {
        margin-top: 75px;
    }
}